# manual (marker for update script to not modify this file)
language: python
sudo: false
python:
    - 2.6
    - 2.7
    - 3.3
    - 3.4
install:
    - pip install .
script:
    - python setup.py test -q
notifications:
    email: false
