pip>=9.0.0
sphinx>=1.4
setuptools>=31.0.1
repoze.sphinx.autointerface
sphinx_rtd_theme
# Include these here to work around the "TypeError: isinstance() arg 2 must
# be a class, type, or tuple of classes and types" we get when
# RTD installs setup.py and it gets to BTrees.
zope.interface
BTrees
